@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Comfortaa:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgba(204,228,68, 0.9);
    height: 100vh;
    font-family: 'Codystar', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.time-container h1 {
    color: rgb(204,68,251);
    font-size: 10em;
    font-weight: bolder;
    margin: 0;
   
}

.time-container h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2em;
    color: rgb(204,148,198);
}

.time-container .custom-sider {
    width: 16rem;
    height: 2rem;
    
    background-color: rgba(247, 232, 99, 0.6);
    margin: 0 auto;
}

.time-container .fill {
    width: 100%;
    height: 2rem;
    background-color: rgba(204,68,251, 0.3);
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
}

